.page {
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.page__content {
  max-width: 880px;
  width: 100%;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 45px 0 60px 0;
}

@media screen and (max-width: 885px) {
  .page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    padding: 28px 0 36px 0;
  }
}
